/* Fix layout */

html, body
    height: auto !important;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #586994;

/* Fix Cards size */
.card
    display: flex;
    flex-direction: column;
    height: 100% !important;
.card-footer
    margin-top: auto;

.is-vcentered
    display flex !important;
    justify-content: center;
    align-items: center;