.small-section
    padding: 1.5rem 1rem;

.centered
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

.is-hidden
    display none;

body
    padding-bottom 50px !important;

.is-sidebar
    margin-bottom -65px;

.is-primary-bg
    background-color #586994 !important;
.is-primary
    color #586994 !important;
.is-secondary-bg
    background-color #E5E8B6 !important;
.is-secondary
    color #E5E8B6 !important;

.scrollButton
    display none;

.scrollButton span
    width 30px;
    height 40px;
    border 3px solid #E5E8B6;
    border-radius 60px;

.scrollButton span::before
    content "";
    width 7px;
    height 7px;
    position absolute;
    top 2px;
    background-color #E5E8B6;
    left 50%;
    border-radius 50%;
    opacity 1;
    transform translateX(-50%);
    animation mouse 2s infinite;

@keyframes mouse
    from
        opacity 1;
        top: 2px;
    to
        opacity 0;
        top: 40px;